
/* ===== ADMIN LAYOUT ===== */

.admin-layout {
  display: flex;
  margin-top: 70px; 
}


.sidebar-wrapper {
  width: 250px;
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  background: #fff;
  border-right: 1px solid #eaeaea;
  z-index: 1000;
}


.main-content {
  margin-left: 250px; 
  padding: 24px;
  width: calc(100% - 250px);
  min-height: calc(100vh - 70px);
  background: #f8f9fa;
}

.sidebar-container {
  padding: 20px 12px;
  margin-right: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  margin-bottom: 6px;
  border-radius: 10px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #f1f5ff;
  color: #0d6efd;
}

.sidebar-link.active {
  background-color: #e8f0ff;
  color: #0d6efd;
}

/* ===== MOBILE ===== */
@media (max-width: 991px) {
  .sidebar-wrapper {
    display: none;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    
  }

}






